$base_color:#3A5F56;
$second_color:#292C32;
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
a{
    text-decoration: none;
    color: $base_color;
}
li{
    list-style: none;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.btn{
    color: #fff;
    background-color: $base_color;
    border-radius: 6px;
    padding: 10px 18px;
}
.header{
    &__wrap{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }
    &__box{
        display: flex;
        align-items: center;
    }
    &__menu{
        display: flex;
    }
    &__link{
        color: &$base_color;
        font-size: 16px;
        &:hover{
            color:red;
        }
    }
    &__item{
        margin-right: 30px;
    }
    &__cart{
        display: flex;
        gap: 8px;
        &::before{
            content: "";
            background: url('../img/cart.svg');
            display: block;
            width: 17px;
            height: 17px;
        }
        &::after{
            content:'0';
            color: $base_color;
            background-color:#fff ;
            padding: 0 6px;
            border-radius: 50%;
        }
    }
}
.main{
    background:url(../img/background\ MIRRo.png)no-repeat center center / cover;
    padding: 100px 0;
    &__wrap{
        display: flex;
        gap: 64px;
        align-items: center;
    }
    &__title{
        color: $base_color;
        font-size: 48px;
        margin-bottom: 15px;
    }
    &__text{
        color: $base_color;
        font-size: 16px;
        margin-bottom: 17px;
    }
}
.services{
    padding: 100px 0;
    &__pic{
        margin-left: 500px;
    }
    &__title{
        margin-top: 15px;
        color: $base_color;
        font-size: 32px;
        margin-bottom: 11px;
        text-align: center;
    }
    &__text{
        text-align: center;
        color: $second_color;
        font-size: 16px;
        max-width: 590px;
        margin-bottom: 17px;
        margin: 0 auto;
    }
    &_center{
        text-align: center;
    }
    &__row{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    &__card{
        max-width: 380px;
        border-radius: 16px;
        background-color: #f4f3f0;
        padding: 30px;
    }
    &__icon{
        width: 48px;
        height: 48px;
       margin-bottom: 9px;
    }
    &__subtitle{
        color: $base_color;
        font-size: 24px;
        margin-bottom: 6px;
    }
    &__read{
        color: $base_color;
        align-items: center;
        gap: 5px;
        &::after{
            content:' ';
            background: url(../img/Arrow-Icon-Primary.svg)no-repeat center center / cover;
            display: block;
            height: 10px;
            width: 20px;
        }
    }
}
.section3{
    background-image: url("../img/Rectangle.png") ;
    height: 890px;
    &__title-block{
        align-items: center;
        text-align: center;
        margin-top: 100px;
    }
    &__picture{
        margin-left: 270px;
        margin-top: 47.47px;
    }
    &__title{
        font-size: 32px;
        color: #DB343B;
        margin-left: 270px;
        text-align: center;
        margin-top: 15px;
    }
    &__subtitle{
        margin-top: 11px;
        font-size: 16px;
        line-height: 22.4px;
        max-width: 591px;
        margin-left: 270px;
    }
    &__first-block{
        max-width: 379px;
        min-height: 438px;
        background-color: #fff;
        border-radius: 20px;
    }
    &__fisrt-block__title{
        color: #3A5F56;
        font-family: Roboto;
        margin-left: 30px;
        margin-top: 29.09px;
        font-size: 24px;
        font-weight: regular;
    }
    &__first-block__text{
        color: #3A5F56;
        font-family: Roboto;
        
        margin-left: 30px;
        margin-top: 6px;
        font-size: 16px;
        line-height: 22.4px;
    }
    &__row{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    &__second-block{
        max-width: 379px;
        min-height: 438px;
        background-color: #fff;
        border-radius: 20px;

    }
    &__second-block__title{
        color: #3A5F56;
        font-family: Roboto;
        margin-left: 30px;
        margin-top: 29.09px;
        font-size: 24px;
        font-weight: regular;
    }
    &__second-block__text{
        color: #3A5F56;
        font-family: Roboto;
        margin-left: 30px;
        margin-top: 6px;
        font-size: 16px;
        line-height: 22.4px;
        max-width: 315px;
    }
    &__third-block{
        max-width: 379px;
        min-height: 438px;
        background-color: #fff;
        border-radius: 20px;
    }
    &__third-block__title{
        color: #3A5F56;
        font-family: Roboto;
        margin-left: 30px;
        margin-top: 29.09px;
        font-size: 24px;
        font-weight: regular;
    }
    &__third-block__text{
        color: #3A5F56;
        font-family: Roboto;
        margin-left: 30px;
        margin-top: 6px;
        font-size: 16px;
        line-height: 22.4px;
        max-width: 315px;
    }
    &__btn{
        margin-left: 530px;
        margin-top: 30px;
    }
    &__link{
        font-size: 17px;
        text-decoration: none;
        color: $base_color;
    }
    &__btn-picture{
        margin-left: 5px;
    }

       
}
.section4{
    &__block{
        align-items: center;
        margin: 100.09px  170px;
        width: 800px;
        height: 259px;
        display: flex;
        background-color: #F4F3F0;
        border-radius: 16px;
    }
    &__text{
        background-color: #F4F3F0;
        font-size: 28px;
        line-height: 33.6px;
        font-family: Roboto;
        max-width: 400px;
        max-height: 101px;
        padding-left: 80px;
        padding-bottom: 78px;
    }
    &__btn{
        font-size: 20px;
        font-family: Roboto;
        color: #FFFFFF;
        background-color: #3A5F56;
        padding: 15px 25px 15px 25px;
        border-radius: 7px;
        margin-left: 160px;
    }
}
